{% load static %}
{% include "exam/header.html" %}
{% block content %}
       <!-- home -->
       <section id="blog-container">
        <div class="blogs post1">
            <div class="post">
                <img src="{% static "image/b1.jpg" %}" alt="">
                <h3>Leaning Web Development</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur illum molestias, possimus corrupti voluptates nulla sunt iusto earum neque provident necessitatibus totam in repellendus architecto perferendis eius quia cumque eum tempora mollitia, optio suscipit a ducimus debitis. Repellendus quia reiciendis aspernatur dolor modi totam similique magnam minus nostrum labore ab itaque perferendis, soluta accusamus voluptas dicta unde officia beatae illo, consequatur praesentium quo, impedit ullam! Neque architecto assumenda animi minus natus eligendi itaque fugit magni officia consequuntur. Vero adipisci velit saepe laborum recusandae quae sequi atque fugit, porro eius assumenda cum ullam laudantium? Saepe, facilis quae. At libero eos dolorum? 
                    <br> <br>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus esse deserunt provident voluptatem rerum amet laboriosam debitis facilis pariatur, vero at minima autem corporis aspernatur? Corrupti aspernatur maxime esse totam vitae animi nobis nemo at excepturi odit eius sapiente perspiciatis cum modi eaque delectus magni, vero, nostrum architecto ratione corporis, commodi officia provident. Laboriosam dignissimos natus tempora dolores porro fugit nam ullam totam. Ducimus, voluptatem atque consectetur quam repudiandae iste sunt eveniet quibusdam voluptatibus, ab delectus minima minus veritatis mollitia? Delectus quibusdam corrupti voluptatum assumenda dolor, molestias amet temporibus aut commodi fugiat. Facilis corrupti mollitia esse veniam nobis vitae perspiciatis. 
                <br><br>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio id reprehenderit hic dicta est a, itaque aperiam ab nulla, vitae quo quibusdam nobis libero esse nihil voluptate iure molestias quod delectus provident dolorum magnam! Error maxime natus illum soluta aspernatur! Tempora, non voluptate earum eum libero, odit necessitatibus quam quisquam laudantium molestias autem eius accusamus! Odit pariatur dolorem eius, dicta placeat architecto voluptas maiores reiciendis obcaecati accusamus totam sequi quo tenetur optio sit minus, sed unde iure aliquid ut, repellat ex nihil! Id architecto ducimus nisi, voluptates quidem corrupti, iure eveniet corporis recusandae ipsum placeat mollitia fugit temporibus deserunt dolor?</p>
            </div>
        </div>
       </section>
{% endblock %}
{% include "exam/foot.html" %}